<div class="w-full rounded-lg my-4">
  <div class="">
    <div class="flex items-center justify-between text-sm">
      <div class="border max-w-fit px-1 rounded-lg">
        <input type="text" placeholder="Search…" class="h-7 p-2" />
        <button class="text-gray-500 h-7 px-2">
          <i class="fa-solid fa-search"></i>
        </button>
      </div>

      <div class="text-gray-500 text-xs flex pr-2">
        <div class="h-full mr-4">
          <div>
            <button
              class="hover:bg-gray-100 px-2 py-1 h-full rounded-lg border text-gray-500"
            >
              <i class="fa-solid fa-arrow-up font-bold"></i>
            </button>
            <span class="text-gray-500 ml-1">Date</span>
          </div>
        </div>
        <div class="mr-4">
          <button
            class="border px-2 py-1 rounded-l-lg hover:bg-red-300 hover:text-white"
          >
            Short
          </button>
          <button
            class="border px-2 py-1 rounded-r-lg hover:bg-green-300 hover:text-white"
          >
            Long
          </button>
        </div>
        <div>
          <button
            class="border px-2 py-1 rounded-l-lg hover:bg-green-500 hover:text-white"
          >
            Profit
          </button>
          <button
            class="border px-2 py-1 rounded-r-lg hover:bg-red-500 hover:text-white"
          >
            Loss
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
